<div class="container">
        <h2>All items</h2>
        <ng-container *ngFor="let item of items">
            <div class="item-container">
                <div class="item-card">
                    <div>
                        <img [src]="item.image" style="width:220px; height:140px;">
                    </div>
                    <div class="item-name"><h4>{{ item.name}}</h4></div>
                    <div class="item-description"><p>{{item.description}}</p></div>
                    <div class="details">
                        <div class="item-type" [ngStyle]="{color: item.type === 'Free' ? 'Green' : 'Red'}">{{item.type}}</div>
                        <div class="item-price"><b>Price:</b> ${{item.price}}</div>
                    </div>
                    <div class="item-buttons">
                        <button class="btn btn-light">Buy Now</button>
                        <button class="btn btn-light" routerLink="./item/{{item.id}}">Show Details</button>
                    </div>
                </div>
            </div>  
        </ng-container>
    </div>